{% extends '@user/authentication/base.twig' %}

{% block title %}{{ app.name }} - {{ lang('page-title.sign-up') }}{% endblock %}

{% block body %}
<body class="hold-transition register-page">
	<div class="register-box">
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a href="/" class="h1"><b>{{ app.name }}</b></a>
			</div>
			<div class="card-body">
				<p class="login-box-msg">{{ lang('authentication.header-message.sign-up') }}</p>
				<form id="sign-up">
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="{{ lang('authentication.form-placeholder.full-name') }}">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="{{ lang('authentication.form-placeholder.email') }}">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="{{ lang('authentication.form-placeholder.password') }}">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="{{ lang('authentication.form-placeholder.repeat-password') }}">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<div class="icheck-primary">
								<input type="checkbox" id="agreeTerms" name="terms" value="agree">
								<label for="agreeTerms">{{ lang('authentication.form-label.agree-terms') }} <a href="/page/terms">{{ lang('authentication.text-link.terms') }}</a></label>
							</div>
						</div>
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">{{ lang('authentication.button.sign-up.default') }}</button>
						</div>
					</div>
				</form>

				<div class="social-auth-links text-center">
					<a href="#" class="btn btn-block btn-primary">
						<i class="fab fa-facebook mr-2"></i>
						{{ lang('authentication.button.sign-up.with-facebook') }}
					</a>
					<a href="#" class="btn btn-block btn-danger">
						<i class="fab fa-google-plus mr-2"></i>
						{{ lang('authentication.button.sign-up.with-google-plus') }}
					</a>
				</div>
				<a href="sign-in" class="text-center">{{ lang('authentication.text-link.already-have-account') }}</a>
			</div>
		</div>
	</div>
</body>
{% endblock %}
